@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Condensed';
  background-color: lightgray;
}
main {
  margin: 0% 7%;
}
#left {
  display: flex;
  gap: 40px;
}
#nav-link {
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}
#able-logo {
  height: 30px;
}
header {
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: white;
  position: relative;
}
#right {
  display: flex;
  gap: 40px;
}
#artic-img {
  background-color: white;
  display: flex;
  justify-content: center;
}
#imgMain {
  width: 70vw;
  height: 80vh;
}
#imgTag {
  position: relative;
}
#imgTi {
  color: orangered;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fixJob {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 1%;
  background-color: white;
  margin-top: 2px;
  position: ;
}

#abt {
  background-color: white;
  text-align: left;
  padding: 5% 25%;
}

#boldStrt {
  font-size: 30px;
}

#blueLink {
  color: blue;
  text-decoration: none;
}
#img-grid-1 {
  background-color: white;
  position: relative;
  height: 700px;
}

#yelBox {
  position: absolute;
  background-color: #fbffa7;
  height: 700px;
  width: 900px;
  right: 0%;
}
#img-1 {
  top: 100px;
  height: 500px;
  width: 600px;
  position: absolute;
  left: 15%;
}
#img-2 {
  position: absolute;
  height: 300px;
  width: 400px;
  left: 60%;
  top: 20%;
}
#artMain {
  background-color: white;
}
